@import '../../../packages/line-ripple/index.scss';

body {
  margin: 24px;
}

.line-ripple-container {
  position: relative;
  width: 200px;
  height: 40px;
}

.mdc-line-ripple {
  @include mdc-line-ripple-color(brown);
}
