@import "@material/react-floating-label/index.scss";
@import "@material/react-line-ripple/index.scss";
@import "@material/react-notched-outline/index.scss";

body {
  margin: 24px;
}

.text-field-container {
  max-width: 200px;
}

.text-field {
  width: 100px;
}
