.menu-surface--bottom-start {
  // top: 400px;
  // left: 20px;
  margin-bottom: 20px;
}

.menu-surface-screenshot-test {
  // needed for contextmenu to work correctly
  position: relative;
  height: 100vh;
  width: 100vw;
}

.menu-surface-button {
  margin-bottom: 500px;
  margin-left: 200px;
}
